@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", "IBM Plex Sans KR", "sans-serif", monospace;
  color: white;
}

.bolck-wrapper {
  border-radius: 6px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-sizing: 0 0 0.25rem rgba(75, 70, 92, 0.1);
}
